<% layout("layouts/boilerplate.ejs") %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://images.unsplash.com/photo-1496080174650-637e3f22fa03?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1306&q=80"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form
            action="/register"
            method="POST"
            class="validated-form"
            novalidate
          >
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                autofocus
                required
              />
              <div class="valid-feedback">Looks good</div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                required
              />
              <div class="valid-feedback">Looks good</div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="password">password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                required
              />
              <div class="valid-feedback">Looks good</div>
            </div>
            <div class="d-grid col-12">
              <button class="btn btn-success btn-block">Register</button>
            </div>
          </form>
          <div class="card-footer text-muted mt-3 text-center">
            Looking for demo user? Login using:<br />
            username: demo_user<br />
            password: password123
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
